.container{
    width: 1409px ;
    margin: 0 auto;
}

.mainFooter{
    background: #FDF6E9;
    padding: 50px 0;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer img{
    width: 25px;
}

.footer .links{
    display: flex;
    align-items: start;
    gap: 7px;
}