.container{
    width: 1409px ;
    margin: 0 auto;
}

.blog{
    margin: 50px 0 0 0;
}

.blogSpan1{
    font-size: 24px;
    font-weight: 600;
    line-height: 36.13px;
    letter-spacing: 0.05em;
    color: #EC9706;
    text-align: center;
}

.blogH4{
    font-size: 32px;
    font-weight: 600;
    line-height: 48.17px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 20px 0;
}

.blogCards{
    width: 429px;
    height: 650px;
}

.blogTitle{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.blogTitle blockquote{
    font-size: 18px;
    font-weight: 600;
    line-height: 27.09px;
    letter-spacing: 0.05em;  
}

.blogTitle span{
    font-size: 24px;
    font-weight: 600;
    line-height: 36.13px;
    letter-spacing: 0.05em;    
    text-align: left;
}

.blogTitle p{   
    font-size: 18px;
    font-weight: 400;
    line-height: 27.09px;
    letter-spacing: 0.05em;
}

.blogTitle .btn{
    width: 149px;
    background: #EC9706 ;
    color: #FFFF;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
    border: none;
    cursor: pointer;
}

.blogCards{
    display: flex;
    column-gap: 57px;
}